@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 1450px) {
  .container {
    width: 1250px;
    margin: 0 auto;
  }
}
.header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
}
.btn1 {
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 7px 12px 0 rgba(32, 81, 137, 0.24);
  background: #1d72d2;
  transition: 0.8s;
}
.btn1:hover {
  transform: scale(0.8);
}
.container2 {
  width: 90%;
  margin: 0 auto;
}

.green_box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 1200px) {
  .card1 {
    padding: 15px;
  }
}
@media (max-width: 310px) {
  .card1 h4 {
    font-size: 14px;
  }
  card1 p {
    font-size: 12px;
  }
}
.first_img {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.imgp {
  display: block;
  width: 100%;
  height: auto;
}
.hover_icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 15.62%,
    rgba(32, 81, 137, 0.9) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}
.first_img:hover .hover_icons {
  opacity: 1;
}
@media (max-width: 1335px) {
  .nums h3 {
    font-size: 50px;
  }
}
.worker1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.worker_img {
  display: block;
  width: 100%;
  height: auto;
}
.workers_social_media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0.99%,
    rgba(32, 81, 137, 0.9) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}
.worker1:hover .workers_social_media {
  opacity: 1;
}
.sponser {
  border-radius: 8px;
  padding: 12px 27px;
  box-shadow: 0 7px 12px 0 rgba(32, 81, 137, 0.24);
  background: #1d72d2;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.spon1 {
  border-radius: 10px;
  box-shadow: 0 10px 16px 0 rgba(32, 81, 137, 0.06);
  background: #fff;
  padding: 24px 28px;
}
.pr_i {
  transition: 0.8s;
}
.projects_imgs img:hover {
  transform: scaleY(1.5);
}
.join {
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 7px 12px 0 rgba(32, 81, 137, 0.24);
  background: #fff;
  transition: 0.8s;
}
.join {
  transform: scale(0.8);
}
.blue_line {
  border-radius: 0 10px 10px 0;
  width: 4px;
  height: 60px;
  background: #1d72d2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.d1:hover img {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg);
}

.dashboard {
  box-shadow: inset -2px 0 0 0 #eff2f7;
}

.d1:hover .blue_line {
  opacity: 1;
}
.not1 {
  box-shadow: 0 2px 4px 0 rgba(47, 94, 149, 0.07);
}
.main_menu_nav {
  box-shadow: inset 0 -2px 0 0 #eff2f7;
}
.umumiy_cards {
  box-shadow: 0 2px 4px 0 rgba(47, 94, 149, 0.07);
}
.weekly {
  border: 1px solid #eff2f7;
  border-radius: 30px;
  padding: 4px 10px 4px 16px;
  background: #fff;
}
.activity,
.tasks {
  border: 1px solid #eff2f7;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(47, 94, 149, 0.07);
  background: #fff;
  padding: 30px;
}
.viktorinlar,
.tolov {
  box-shadow: 0 2px 4px 0 rgba(47, 94, 149, 0.07);
  background: #fff;
  border: 1px solid #eff2f7;
  border-radius: 4px;
  padding: 30px;
}
.close3{
  display: none;
}
@media(max-width:1350px){
  .d1 p{
    display: none;
  }
  .dashboard{
    width:160px;
  }
 
}
@media(max-width:1250px){
  .dashboard{
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
  }
  .d1 p{
    display: block;
  }
  .header_img{
    display: block;
  }
  .close3{
    display: block;
  }
  #check3:checked ~.dashboard{
    left: 0;
  }
}
@media(max-width:700px){
  .activity,.tasks,.viktorinlar,.tolov{
    padding: 10px;
  }
}
.dashboard_links{
  position: relative;
}
.close3{
  position: absolute;
  right: 20px;
  top: 20px;
}


 
